{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/confirm.css' %}">
	<script src="{% static 'scripts/script.js' %}"></script>
	<title>Wealth Origin- Dashboard</title>
</head>
<body>
    <nav id="navbar">
        <button onclick="openNav()" id="navctrl">&#9776;&nbsp;&nbsp;&nbsp;Trade center</button>
		<button id="btnnav">Trade Center</button>
	</nav>

	<div id="SideNav" class="sidenav">
		<center><img src="{% static 'images/pic.png' %}"/></center>
		<center><label>{{ user.full_name }}</label></center>
		<hr>
		<a href="{% url 'dashboard' %}"><i class="fa-solid fa-house" style="font-size: 20px;"></i>&nbsp&nbsp Dashboard</a>
		<a href="{% url 'deposit' %}"><i class="fa-solid fa-building-columns" style="font-size: 20px;"></i>&nbsp&nbsp Deposit</a>
		<a href="{% url 'invest' %}"><i class="fa-solid fa-chart-line" style="font-size: 20px;"></i>&nbsp&nbsp Investment Plan</a>
		<a href="{% url 'withdraw' %}"><i class="fa-solid fa-square-arrow-up-right" style="font-size: 20px;"></i >&nbsp&nbsp Withdrawal</a>
		<a href="{% url 'faq' %}"><i class="fa-solid fa-circle-question" style="font-size: 20px;"></i>&nbsp&nbsp FAQ</a>
		<a href="{% url 'profile' %}"><i class="fa-solid fa-user" style="font-size: 20px;"></i>&nbsp&nbsp Profile</a>
		<a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket" style="font-size: 20px;"></i>&nbsp&nbsp Logout</a>
	</div>

    <div id="main">

        <div class="modal-content">

            <i class="fa-solid fa-sack-xmark" style="font-size: 150px; color: red; padding-top: 100px;"></i>

            <h1>INSUFFICIENT BALANCE</h1>

            <h4>You dont have enough money in your deposit balance to purchase this plan</h4>

            <script>
                setTimeout(function() {
                    window.location.href = '../investment_plan/';
                }, 2000);
            </script>


        </div>

    </div>
    
</body>
</html>