{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<script src="{% static 'scripts/script.js' %}"></script>
	<script src="//code.tidio.co/wdlbogguc2puurfx22d5vyramsuji9us.js" async></script>

    <title>Wealth Origin - Profile</title>
</head>
<body>
    <nav id="navbar">
        <button onclick="openNav()" id="navctrl">&#9776;&nbsp;&nbsp;&nbsp;Profile</button>
		<button id="btnnav">Profile</button>
	</nav>

	<div id="SideNav" class="sidenav">
		<center><img src="{% static 'images/pic.png' %}"/></center>
		<center><label>{{ user.full_name }}</label></center>
		<hr>
		<a href="{% url 'dashboard' %}"><i class="fa-solid fa-house" style="font-size: 20px;"></i>&nbsp&nbsp Dashboard</a>
		<a href="{% url 'deposit' %}"><i class="fa-solid fa-building-columns" style="font-size: 20px;"></i>&nbsp&nbsp Deposit</a>
		<a href="{% url 'invest' %}"><i class="fa-solid fa-chart-line" style="font-size: 20px;"></i>&nbsp&nbsp Investment Plan</a>
		<a href="{% url 'withdraw' %}"><i class="fa-solid fa-square-arrow-up-right" style="font-size: 20px;"></i >&nbsp&nbsp Withdrawal</a>
		<a href="{% url 'faq' %}"><i class="fa-solid fa-circle-question" style="font-size: 20px;"></i>&nbsp&nbsp FAQ</a>
		<a href="{% url 'profile' %}"><i class="fa-solid fa-user" style="font-size: 20px;"></i>&nbsp&nbsp Profile</a>
		<a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket" style="font-size: 20px;"></i>&nbsp&nbsp Logout</a>
	</div>

    <div id="main">

		<div class="box" id="per_info">
			<img src="{% static 'images/pic.png' %}"/>
			<header class="header">Personal Information</header>
			<hr style="width: 100%; color: white;">
            
			<label class="label">Full Name: <text>{{ user.full_name }}</text></label>
			<label class="label">Email: <text>{{ user.email }}</text></label>
			<label class="label">Phone Number: <text>{{ user.number }}</text></label>
			<label class="label">Country: <text>{{ user.country }}</text></label>			
		</div>
		<div class="box" id="acc_info">
			<header class="header">Account Information</header>
			<hr style="width: 100%; color: white;">
			<label class="label">Account Balance: <text>${{ user.deposit_balance }}</text></label>
			<label class="label">Profit Balance: <text>${{ user.profit_balance }}</text></label>
			<label class="label">Investment Plan: <text>{{ user.trading_plan }}</text></label>
			<label class="label">Trade Status: <text>{{ user.trade_status }}</text></label>
		</div>
	</div>

</body>
</html>