{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">
    <script src="//code.tidio.co/wdlbogguc2puurfx22d5vyramsuji9us.js" async></script>
    <title>Terms And Conditions</title>
    <style>
        body{
            margin: 0%;
            background-color: hsl(228, 9%, 10%);
            color: hsl(227, 13%, 73%);
        }

        nav{
            display: flex;
            background-color: hsl(240, 3%, 6%);
            padding: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 18px;
            justify-content: space-evenly;
        }
        
        #logo{
            display: block;
            margin-right: auto;
            align-self: center;
        }

        article{
            padding: 2%;
            line-height: 2;
            font-size: 16px;
        }

        footer{
            background-color: rgb(10, 10, 15);
            padding: 3%;
        }
    </style>
</head>
<body>
    <nav>
        <div id="logo">
            <img src="{% static 'images/logo.svg' %}">
            <text>Wealth Origin</text>
        </div>
    </nav>

    <article>
        <h1 style="text-decoration: underline;">Terms And Conditions</h1>

        <p>Please read the following rules carefully before signing in.</p>
        <p>You agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years.</p>

        <p>stockfx-markets is available to the general public and is opened only to the qualified members of stockfx-markets, the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the stockfx-markets and its Member.</p>

        <p>As a private transaction, this program is exempt from the US Securities Act of 1933, the US Securities Exchange Act of 1934 and the US Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm.</p>

        <p>You agree that all information, communications, materials coming from stockfx-markets are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments in any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it will be unlawful to make such offer or solicitation.</p>

        <p>All the data giving by a member to stockfx-markets will be only privately used and not disclosed to any third parties. stockfx-markets is not responsible or liable for any loss of data.</p>

        <p>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</p>
        
        <p>We reserve the right to change the rules, commissions and rates of the program at any time and at our sole discretion without notice, especially in order to respect the integrity and security of the members' interests. You agree that it is your sole responsibility to review the current terms.</p>

        <p>stockfx-markets offers a free trading demo software for trading.And during trading days may require an upgrade.</p>

        <p>The amount of profits available in an account is dependent on the account type and initial deposit, When an account limit is exceeded a mandatory account upgrade would be required.</p>

        <p>stockfx-markets is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to stockfx-markets that you will not use this site in any illegal way and you agree to respect your local, national and international laws.</p>

        <p>Tax payment are regulated under current UK & US legislation. *Tax laws are subject to change</p>

        <p>Prior to the withdrawal & reception of profits, according to the withdrawal process, Traders may be required to clear pending tax payments imposed on profits</p>

        <p>Tax regulated profits. profits on stockfx-markets cryptocurrencies are subject to capital gains tax in the UK & US* commission, spreads or fees are applicable </p>

        <p>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.</p>

        <p>stockfx-markets has a withdrawal policy that permits withdrawal only after the exhaustion of the 14 trading days stipulated time. Note: initiation of withdrawal prior to the withdrawal availability time would attract sanctions.</p>

        <p>We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program.</p>

        <p>stockfx-markets reserves the right to accept or decline any member for membership without explanation.</p>

 
        <p>If you do not agree with the above disclaimer, please do not go any further.</p>
    </article>

    <footer>
        <h4 class="header">Wealth Origin</h4>
        <p class="article">Trade CFDs all on our advanced, web-based trading platform designed with you, the user in mind.</p>
        <hr style="width: 99%;">
        <center><text class="article">© 2014-2023 WealthBridge. All rights reserved.</text></center>
    </footer>
</body>
</html>