:root{
    --cadet-blue-crayola: hsl(227, 13%, 73%);
    --blue-crayola_10: hsla(222, 100%, 61%, 0.05);   
    --eerie-black-1: hsl(240, 5%, 8%);
    --eerie-black-2: hsl(228, 9%, 10%);   
    --blue-crayola: hsl(222, 100%, 61%);
    --white_50: hsla(0, 0%, 100%, 0.5);
    --white_30: hsla(0, 0%, 100%, 0.3);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --white: hsl(0, 0%, 100%);
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myModal{
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header{
    margin-top: 20px;
}

#init{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.input{
    color: black;
    background-color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}

#pro{
    padding: 10px;
    background-color: var(--blue-crayola);
    border-radius: 10px;
    width: 30%;
    color: white;
    border-style: none;
    margin-bottom: 10%;
}

@media screen and (max-width:600px){

    #myModal{
        width: 90%;
    }
}