:root{
    --cadet-blue-crayola: hsl(227, 13%, 73%);
    --blue-crayola_10: hsla(222, 100%, 61%, 0.05);   
    --eerie-black-1: hsl(240, 5%, 8%);
    --eerie-black-2: hsl(228, 9%, 10%);   
    --blue-crayola: hsl(222, 100%, 61%);
    --white_50: hsla(0, 0%, 100%, 0.5);
    --white_30: hsla(0, 0%, 100%, 0.3);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --white: hsl(0, 0%, 100%);
}

body{
    margin: 0%;
    font-family: sans-serif;
    background-color: var(--eerie-black-2);
    color: white;
}

#navbar{
    position: fixed;
    width: 100%;
    background-color: var(--eerie-black-1);  
    z-index: 1;
}

#navbar button{
    color: white;
    background-color: var(--eerie-black-1);
    border-style: none;
    margin-right: auto;
    font-size: xx-large;
    padding: 1%;
    font-weight: 400;
}

#navctrl{
    display: none;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--eerie-black-1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    line-height: 1.5;
}

.sidenav label{
    color: white;
}

.sidenav img{
    margin-bottom: 3%;
    width: 40%;
    border-radius: 50%;
}

.sidenav a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--cadet-blue-crayola);
    display: block;
    transition: 0.3s;
    line-height: 1.5;
    margin-bottom: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    width: 80%;
    margin-left: 20%;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#main img{
    margin-top: 100px;
    margin-bottom: 3%;
    width: 25%;
    border-radius: 50%;
}

.box{
    background-color: var(--eerie-black-2);
    color: white;
    width: 40%;
    margin-bottom: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    align-items: center;
}

.header{
    text-decoration: underline;
    font-size: x-large;
    margin-bottom: 3%;
}

.label{
    background-color: white;
    color: black;
    padding: 2%;
    font-size: 15px;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:1000px){

    #main{
        width: 100%;
        margin-left: 0%;
        flex-direction: column;
        align-items: center;
    }

    #navctrl{
        display: block;
    }

    #btnnav{
        display: none;
    }

    #SideNav{
        width: 0%;
    }

    .sidenav img{
        width: 30%;
    }

    .box{
        width: 90%;
        margin-bottom: 5%;
    }
}